@media(min-width: 1400px) {
    .container {
        /* max-width: 1220px; */
    }
}
@media(min-width: 992px){
    .sign-in-up-bg {
        background: url("../images/sign-in-up-bg-image-desktop.png");
        background-repeat: no-repeat;
    }
}

@media(max-width: 1440px) {
    .intro-right-bg {
        background-position-x: 105%;
    }

    .intro-left {
        max-width: 85%;
    }
}

@media(max-width: 1199px) {
    .section-title {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .page-title {
        font-size: 45px;
    }

    .main-navigation .navbar-nav .nav-item.menu-cta {
        padding-right: 5px;
    }

    .intro-left {
        max-width: 72%;
    }

    .service-item img {
        max-height: 210px;
    }

    /* Functions Style */
    .function-item .function-content {
        height: 70%;
    }

    .function-item .function-item-title {
        font-size: 22px;
    }

    .intro-title {
        font-size: 50px;
    }

    .intro-sub-title {
        font-size: 26px;
    }

    .home .section-title {
        font-size: 26px;
    }

    .footer-title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .footer-column-title {
        font-size: 24px;
    }

    .footer-inner {
        font-size: 16px;
    }

    /* Solutions */
    .solution-item-title {
        font-size: 26px;
    }

    .solution-content p {
        font-size: 16px;
    }

    .inner-title {
        font-size: 35px;
    }

    /* Signin */
    .signin-form-wrapper {
        padding: 50px 70px 90px;
    }
}

@media (max-width: 991px) {
    .mobile-ctas {
        width: 60%;
        text-align: right;
        display: none;
    }

    .welcome-msg {
        text-align: center;
        font-size: 16px;
        max-width: 88%;
    }

    /* Top bar */
    .top-right a {
        display: block;
    }

    .top-social:before {
        content: none;
    }

    .social-list li:first-child {
        padding-left: 0;
    }

    .social-list li {
        padding: 0 6px;
    }

    /* Main Nav */
    .main-logo img {
        min-width: 135px;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        background: #2c2a73;
        color: #fff;
        line-height: 1;
        padding-top: 16px;
    }

    .main-navigation .navbar-nav .nav-item {
        padding: 0;
    }

    .main-navigation .navbar-nav .nav-link:hover {
        color: #295794;
    }

    .main-navigation .navbar-nav .nav-link {
        padding: 13px;
    }

    .main-navigation .navbar-nav .nav-item.menu-cta {
        padding-bottom: 20px;
    }

    .intro-right-bg {
        background-image: none;
    }

    .intro-left {
        max-width: 100%;
    }

    .service-item img {
        max-height: 150px;
    }

    /* Footer */
    .footer-column-1 a {
        display: inline;
    }

    .footer-column-1 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .footer-column-title {
        width: 100%;
    }

    .footer-title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer-column-title {
        font-size: 20px;
    }

    /* Functions Style */
    .function-item .function-item-title {
        font-size: 18px;
        margin: 12px 0 8px 0;
    }

    .function-item .function-content p {
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .function-item .function-item-cta .btn-primary {
        padding: 8px 20px;
    }

    /* Sign in */
    .sign-in-up-bg {
        background: url("../images/sign-in-up-bg-image.png");
        background-repeat: no-repeat;
    }
    .signin-form-wrapper {
        background: rgba(35, 110, 170, 0.9);
    }
}

@media(max-width: 767px) {
    img {
        width: 100%;
    }

    .function-item img {
        /* width: 100%; */
    }

    .page-title {
        font-size: 35px;
    }

    .section-title {
        font-size: 26px;
    }

    .section-title:after {
        width: 58px;
    }

    .inner-title {
        font-size: 26px;
    }

    /* Top bar */
    .top-right {
        padding-left: 0;
    }

    .social-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-list li {
        width: 40%;
    }

    .service-item img {
        max-height: 100%;
    }

    .about-right {
        width: 100%;
    }

    /* Footer */
    .footer-signup form {
        /* width: 40%; */
        /* margin: 0 auto; */
    }

    .footer-signup input[type="submit"] {
        width: 140px;
        width: 100%;
    }

    .footer-signup form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social-icons {
        justify-content: center;
    }

    .footer-social-icons li:last-child {
        margin-right: 0;
    }

    .address {
        width: 100%;
    }

    .address, .contact {
        justify-content: center;
    }

    /* Functions style */
    .page-header {
        background-image: none;
        padding-bottom: 0;
    }

    .page-header-left {
        margin-top: 0;
    }

    #agile-insights .container:before, #agile-insights .container:after {
        content: none;
    }

    .agile-insights-right {
        order: 2;
    }

    .function-item .function-content {
        height: 100%;
        transform: translateY(0);
        justify-content: center;
    }

    /* Solutions style */
    .solutions .inner-title {
        margin-bottom: 20px;
    }

    .solution-item-title {
        font-size: 20px;
    }
}

@media(max-width: 575px) {
    /* Top bar */ .header-top {
        padding: 10px 0;
    }

    .welcome-msg {
        margin-bottom: 8px;
        max-width: 100%;
    }

    .top-right a {
        display: inline;
    }

    .social-list li {
        width: auto;
    }

    .top-email, .top-contact, .top-social {
        padding: 3px 0;
    }

    /* Footer */
    .footer-column-2 {
        text-align: center;
    }

    .footer-column-3 {
        text-align: center;
    }

    .footer-column-1 {
        justify-content: center;
        text-align: center;
    }

    .address-details span {
        display: block;
    }

    .footer-column-1 a {
        display: block;
    }

    .footer-column-4 {
        text-align: center;
    }

    .address, .contact {
        display: block;
    }

    .address-icon, .contact-icon {
        margin-right: 0;
    }

    /* Signin */
    #signin {
        padding: 0;
        margin: 0 0 0;
        height: 100%;
    }
}

@media(max-width: 480px) {
    .intro-title {
        font-size: 35px;
    }

    .intro-sub-title {
        font-size: 20px;
    }

    .home .section-title {
        font-size: 20px;
    }

    /* Signin */
    .signin-form-wrapper {
        padding: 50px 20px 50px;
    }
}
